<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/css/material.min.css">
    <link rel="stylesheet" href="./main.css">
    <script src="../../lib/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <div class="mdl-layout mdl-js-layout">

        <!-- Scrolling Header -->
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <!-- Header Row -->
            <div class="mdl-layout__header-row">
                <!-- Header Title -->
                <span class="mdl-layout-title">This is a title</span>
                <!-- Header Spacer, so links will appear on the end -->
                <div class="mdl-layout-spacer"></div>
                <!-- Header Search Area -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <!-- Expandable Input button -->
                    <label for="search-input" class="mdl-button mdl-js-button mdl-button--icon">
                        <!-- Icon -->
                        <i class="material-icons">search</i>
                    </label>
                    <!-- Expandable TextField -->
                    <div class="mdl-textfield__expandable-holder">
                        <!-- Expandable Input -->
                        <input class="mdl-textfield__input" type="text" id="search-input">
                    </div>
                </div>
                <!-- Header Navigation Links -->
                <nav class="mdl-navigation">
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                </nav>
            </div>
        </header>

        <!-- Drawer -->
        <div class="mdl-layout__drawer">
            <!-- Drawer Title -->
            <span class="mdl-layout-title">This is a title</span>
            <!-- Drawer Navigation Links -->
            <nav class="mdl-navigation">
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
            <!-- Custom class to lenghten height -->
            <div class="container">
                
            </div>
        </main>

    </div>

    <script src="./main.js"></script>
</body>
</html>