<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
  >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="E-mail"
          formControlName="email"
        >
        <!-- <mat-hint>User login e-mail</mat-hint> -->
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Enter an e-mail</mat-error>
        <mat-error *ngIf="!loginForm.controls['email'].hasError('required')">This is not a valid e-mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          minlength="6"
          formControlName="password"
        >
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onClick"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
  </form>
</section>