<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/css/material.min.css">
    <link rel="stylesheet" href="./main.css">
    <script src="../../lib/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <div class="mdl-layout mdl-js-layout">

        <!-- Scrolling Header -->
        <header class="mdl-layout__header">
            <!-- Header Row -->
            <div class="mdl-layout__header-row">
                <!-- Header Title -->
                <span class="mdl-layout-title">This is a title</span>
                <!-- Header Spacer, so links will appear on the end -->
                <div class="mdl-layout-spacer"></div>
                <!-- Header Search Area -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <!-- Expandable Input button -->
                    <label for="search-input" class="mdl-button mdl-js-button mdl-button--icon">
                        <!-- Icon -->
                        <i class="material-icons">search</i>
                    </label>
                    <!-- Expandable TextField -->
                    <div class="mdl-textfield__expandable-holder">
                        <!-- Expandable Input -->
                        <input class="mdl-textfield__input" type="text" id="search-input">
                    </div>
                </div>
                <!-- Header Navigation Links -->
                <nav class="mdl-navigation">
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                    <a href="#" class="mdl-navigation__link">Link</a>
                </nav>
            </div>
            <!-- New Header Row -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <!-- Tab Links -->
                <a href="#tab-1" class="mdl-layout__tab is-active">Tab 1</a>
                <a href="#tab-2" class="mdl-layout__tab">Tab 2</a>
                <a href="#tab-3" class="mdl-layout__tab">Tab 3</a>
                <a href="#tab-4" class="mdl-layout__tab">Tab 4</a>
                <a href="#tab-5" class="mdl-layout__tab">Tab 5</a>
            </div>
        </header>

        <!-- Drawer -->
        <div class="mdl-layout__drawer">
            <!-- Drawer Title -->
            <span class="mdl-layout-title">This is a title</span>
            <!-- Drawer Navigation Links -->
            <nav class="mdl-navigation">
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
                <a href="#" class="mdl-navigation__link">Link</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
            <!-- Tab 1 Section -->
            <section class="mdl-layout__tab-panel is-active" id="tab-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus ipsum accusantium sapiente dicta
                tempore cumque. Id temporibus quasi labore.
            </section>
            <!-- Tab 2 Section -->
            <section class="mdl-layout__tab-panel" id="tab-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus odit perferendis rem vero neque.
                Sit assumenda nesciunt labore ipsam. Quam!
            </section>
            <!-- Tab 3 Section -->
            <section class="mdl-layout__tab-panel" id="tab-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi modi consectetur ipsam magni,
                alias distinctio quae quo? Nihil, distinctio?
            </section>
            <!-- Tab 4 Section -->
            <section class="mdl-layout__tab-panel" id="tab-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quisquam quia explicabo dolorum. Possimus deserunt
                nemo dolorem omnis. Quam, dolore.
            </section>
            <!-- Tab 5 Section -->
            <section class="mdl-layout__tab-panel" id="tab-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam officia ea, asperiores tempora beatae quod
                aperiam animi consequuntur vero voluptatibus!
            </section>
        </main>

    </div>

    <script src="./main.js"></script>
</body>
</html>