<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/css/material.min.css">
    <link rel="stylesheet" href="./main.css">
    <script src="../../lib/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">

        <!-- There is no need for header because there will be no header -->

        <!-- Drawer -->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">This is a title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#">link</a>
                <a class="mdl-navigation__link" href="#">link</a>
                <a class="mdl-navigation__link" href="#">link</a>
                <a class="mdl-navigation__link" href="#">link</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
            
        </main>

    </div>

    <script src="./main.js"></script>
</body>
</html>