<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/css/material.min.css">
    <link rel="stylesheet" href="./main.css">
    <script src="../../lib/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <!-- Layout container -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Header -->
        <header class="mdl-layout__header">
            <!-- Header Row -->
            <div class="mdl-layout__header-row">
                <!-- Header title -->
                <span class="mdl-layout-title">This is the Title</span>
                <!-- Header Spacer -->
                <div class="mdl-layout-spacer"></div>
                <!-- Header Navigation Links -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a href="../transparent/index.html"      class="mdl-navigation__link">Transparent Layout</a>
                    <a href="../fixedHeader/index.html"      class="mdl-navigation__link">Fixed Header Layout</a>
                    <a href="../scrolingHeader/index.html"   class="mdl-navigation__link">Scrolling Header Layout</a>
                    <a href="../waterfall/index.html"        class="mdl-navigation__link">Waterfall Layout</a>
                </nav>
            </div>
        </header>

        <!-- Drawer -->
        <div class="mdl-layout__drawer">
            <!-- Drawer Title -->
            <span class="mdl-layout-title">This is the Title</span>
            <!-- Drawer Navigation Links -->
            <nav class="mdl-navigation">
                <a href="../transparent/index.html"      class="mdl-navigation__link">Transparent Layout</a>
                <a href="../fixedHeader/index.html"      class="mdl-navigation__link">Fixed Header Layout</a>
                <a href="../scrolingHeader/index.html"   class="mdl-navigation__link">Scrolling Header Layout</a>
                <a href="../waterfall/index.html"        class="mdl-navigation__link">Waterfall Layout</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
            <!-- Grid -->
            <div class="mdl-grid container">
                <!-- First Column with 6 out of 12 of width -->
                <div class="mdl-cell--6-col content-padding-20-px">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ullam nam assumenda voluptatibus
                        consequuntur earum nemo optio dicta dolor distinctio.</div>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates dolore fugiat deleniti nihil?
                        Corporis suscipit iste voluptates, hic earum fugit!</div>
                    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae earum nihil cupiditate fugiat aliquid
                        temporibus eius ipsam neque sed excepturi.</div>
                    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero vitae animi sed possimus aspernatur
                        reiciendis a! Reprehenderit culpa consectetur animi.</div>
                    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione eum quisquam rem quae aut optio
                        praesentium assumenda! Saepe, pariatur reprehenderit?</div>
                    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nulla provident dignissimos
                        quisquam illum reprehenderit laboriosam numquam blanditiis. Et, omnis!</div>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas nihil ab cupiditate repellendus
                        quaerat vitae, quae nisi aut culpa cum.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam totam fugiat similique debitis
                        reprehenderit beatae a enim minima dolorum eaque!</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quos natus praesentium
                        similique omnis ipsum in sint eveniet ratione saepe?</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eius obcaecati sint unde
                        voluptate, ad adipisci enim modi nobis ipsam?</div>
                </div>
                <!-- Second Column with 6 out of 12 of width -->
                <div class="mdl-cell--6-col content-padding-20-px">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ullam nam assumenda voluptatibus
                        consequuntur earum nemo optio dicta dolor distinctio.</div>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates dolore fugiat deleniti nihil?
                        Corporis suscipit iste voluptates, hic earum fugit!</div>
                    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae earum nihil cupiditate fugiat aliquid
                        temporibus eius ipsam neque sed excepturi.</div>
                    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero vitae animi sed possimus aspernatur
                        reiciendis a! Reprehenderit culpa consectetur animi.</div>
                    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione eum quisquam rem quae aut optio
                        praesentium assumenda! Saepe, pariatur reprehenderit?</div>
                    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nulla provident dignissimos
                        quisquam illum reprehenderit laboriosam numquam blanditiis. Et, omnis!</div>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas nihil ab cupiditate repellendus
                        quaerat vitae, quae nisi aut culpa cum.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam totam fugiat similique debitis
                        reprehenderit beatae a enim minima dolorum eaque!</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quos natus praesentium
                        similique omnis ipsum in sint eveniet ratione saepe?</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eius obcaecati sint unde
                        voluptate, ad adipisci enim modi nobis ipsam?</div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="./main.js"></script>
</body>
</html>