<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/css/material.min.css">
    <link rel="stylesheet" href="./main.css">
    <script src="../../lib/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <div class="layout-container mdl-layout mdl-js-layout">

        <!-- Header -->
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <!-- Header Row -->
            <div class="mdl-layout__header-row">
                <!-- Header Title -->
                <span class="mdl-layout-title">This is the title</span>
                <!-- Header Spacer, so links will appear on the end -->
                <div class="mdl-layout-spacer"></div>
                <!-- Header Navigation Links -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#">Link</a>
                    <a class="mdl-navigation__link" href="#">Link</a>
                    <a class="mdl-navigation__link" href="#">Link</a>
                    <a class="mdl-navigation__link" href="#">Link</a>
                </nav>
            </div>
        </header>

        <!-- Drawer -->
        <div class="mdl-layout__drawer">
            <!-- Drawer Title -->
            <span class="mdl-layout-title">
                This is a title
            </span>
            <!-- Drawer Navigation Links -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#">Link</a>
                <a class="mdl-navigation__link" href="#">Link</a>
                <a class="mdl-navigation__link" href="#">Link</a>
                <a class="mdl-navigation__link" href="#">Link</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
        </main>

    </div>

    <script src="./main.js"></script>
</body>
</html>